     {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" media="all" />
    
    {% endblock %}

  <div id="header">
    <h1 id="logo"><a href="/">Trou d'un Coup</a></h1>
    <!-- Cart -->
    <div id="cart"> <a href="/panier" class="cart-link">Votre Panier</a>
      <div class="cl">&nbsp;</div>
      <span>{% if app.session.get('panier').getNbProduits()>1 %}
        Produits: 
      {% else %}
      Produit:
      {% endif %}
      
       <strong>{{app.session.get('panier').getNbProduits()}}</strong></span> &nbsp;&nbsp; <span>Prix: <strong>{{app.session.get('panier').getTotal()|number_format(2, ',', ',')}} $</strong></span> </div>
      
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="/" class="nav-item" >Accueil</a></li>
        
        <li><a href="/a_propos" class="nav-item">A Propos</a></li>
        {% if app.session.get('compte_connecte') !=null %}
        
        <li><a href="/compte" class="nav-item">Modifier vos infos</a></li>
        <li><a href="/" class="nav-item">Mes achats</a></li>
        <li><a href="/deconnexion" class="nav-item">Déconnexion</a></li>
        {% else %}
        <li><a href="/ajouterCompte" class="nav-item">Inscription</a></li>
        <li><a href="/connexion" class="nav-item">Connexion</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- End Navigation -->
  </div>