<div class="row enteteTUC">
  <img class="col-3" src="{{ asset('images/logoCQP.png') }}" alt="LOGO CQP">
  <section class='col-9'>
    <h1>Chôme qui peut</h1>
  <h2>Recherche d'emplois</h2>
</section>
</div>