{% extends ('base.html.twig') %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
<div >
    <section class="about-us">
        <h1 >À propos de nous</h1>
        <img src="/css/images/pro.webp" alt="About Us Image">
        <p >Nous sommes Le Trou d'un Coup, votre destination de choix pour tous vos besoins en matière de golf. Fondée en 1990, notre boutique est fière de servir la communauté de golfeur du Quebec avec une gamme complète d'équipements de golf, de vêtements et d'accessoires.</p>
        <p>Notre passion pour le golf nous pousse à sélectionner les meilleurs produits pour nos clients. Que vous soyez un golfeur débutant ou un professionnel chevronné, nous avons tout ce dont vous avez besoin pour améliorer votre jeu et profiter au maximum de votre temps sur le parcours.</p>
        <p>Nous nous engageons à fournir un service client exceptionnel et à aider chaque client à trouver l'équipement qui convient le mieux à son style de jeu. Venez nous rendre visite et découvrez pourquoi nous sommes la boutique de golf de confiance pour tant de golfeurs.</p>
    </section>
</div>
{% endblock %}